/*usikker på om jeg burde lage en egen fil for hver av css klassene*/

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
}

.timer__clock {
    font-size: 7rem;
}

.timer__start-stop {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}